@use '../../../sass/colors.scss' as color;

.input {
    border: none;
    border-bottom: solid 0.125rem color.$gray;
    padding: 2rem 0;
    margin: 0 0 0;
    width: 100%;

    &-regular {
        font-size: 1rem;
    }

    &-enlarged {
        font-size: 1.5rem;
    }

    &:focus-visible {
        outline: none;
        border-bottom: solid 0.125rem color.$black;
    }

    &-has-error {
        border-bottom: solid 0.125rem color.$red;
    }

    &-error-message {
        color: color.$red;
        font-size: .85rem;
        margin-top: 1rem;
    }
}