@import './sass/fonts.scss';
@import './sass/reset.scss';

.app {
    margin: 2rem auto;
    padding: 0 .625rem;
    max-width: 585px;
    width: 100%;
}

.main {
    display: flex;
}

.left {
    max-width: 218px;
    width: 100%;
}

.right {
    max-width: 333px;
    width: 100%;
}

.align-right {
   float: right;
}