.task-form {
    margin-bottom: 4rem;

    &__type {
        font-size: 1rem;
    }
    
    &__field-set {
        border: none;
        margin-bottom: 3rem;
    }

    &__buttons {
        display: flex;
        justify-content: flex-end;

        button {
            margin-left: 2rem;
        }
    }
}