@font-face {
    font-family: 'JetBrainsRegular';
    src: url('./fonts/JetBrainsMono-Regular.woff2');
}

@font-face {
    font-family: 'JetBrainsBold';
    src: url('./fonts/JetBrainsMono-Bold.woff2');
}