@use '../../../sass/colors.scss' as color;

.nav-bar {
    position: relative;
    margin-bottom: 2.5rem;

    &__first-line {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;
    }

    &__list {
        display: flex;
        
    }

    &__item {
        margin-right: 2rem;
    }
}