@use '../../../sass/colors.scss' as color;

.nav-indicator {
    position: relative;
    
    &__car {
        background-color: color.$black;
        height: .25rem;
        top: -.08rem;
        position: absolute;
        transition: .5s ease;
    }

    &__line {
        border: solid .1rem color.$gray;
    }   
}